$contentBackground: #21232e;
$backgroundImage: url(../img/m-h-night.jpg);
$headerTextColor: #fff;
$underlineColor: #ff4e33;
$buttonColor: #e3ac00;
$buttonColorHover: #e6ba33;
$contentColor: #3b3f50;
$sectionTextColor: #fff;
$cardHeadingColor: #fff;
$colorLightBeige: #f2f3cf;
$colorLightBlue:#c0c3ce;
$gradient: linear-gradient(45deg, #dea406, #97334e);
$fontFirst: 'Fresca',
sans-serif;
$fontSecond: 'Source Sans Pro',
sans-serif;
$z-indexes: (
    header: 1,
    underline-header: -1
);